# Xcode
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# SwiftPM
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

# User settings
*.xccheckout
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcodeproj/xcuserdata/

# SwiftPM Xcode integration
.idea/
*.swiftpm

# Others
.DS_Store

AppConstants.swift

