<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgInO_25aFoF_c3-wZl6RY1JqFlhSnsw0</string>
	<key>GCM_SENDER_ID</key>
	<string>35930284796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nauri.NBizFrameMobileWebVew-swift</string>
	<key>PROJECT_ID</key>
	<string>nbizframemoilewebviewkotiln</string>
	<key>STORAGE_BUCKET</key>
	<string>nbizframemoilewebviewkotiln.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35930284796:ios:15b83e3e6e1661078aed79</string>
</dict>
</plist>